ELASTIC_HOST="es01"
ELASTIC_USER="myagent"
ELASTIC_PASS="changeme"
ELASTIC_CA_FILE="/etc/certs/es/ca.crt"
EMAIL_TO="user@example.com"
EMAIL_FROM="user@example.com"
SMTP_ADDRESS="smtp.mailtrap.io"
SMTP_DOMAIN="smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_USER=""
SMTP_PASS=""
SMTP_OUT="disabled"
STD_OUT="enabled"
LOGSTASH_DEBUG_SCHEDULE="* * * * *"
