ELASTIC_HOST=https://es01:9200
ELASTIC_USER=elastic
ELASTIC_PASS=changeme
KIBANA_HOST=https://kibana:5601
AGENT_USER=myagent
AGENT_PASS=changeme
CLAMSCAN_LOG_FILE=scan.log
CLAMSCAN_PAYLOAD_FILE=result.log
